<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>{{.StatusCode}} {{.StatusText}}</title>
</head>

<style>
    
a {
    font-size: large;
    color: black;
    text-align: center;
    display: block;
}
</style>
<body>
    <div>
        <h1 id="errorName">{{.StatusCode}} {{.StatusText}}</h1>
        <p>{{.Description}}</p>
        <a href="/">Return to Home</a> <!-- Add this line -->
    </div>
</body>
</html>